<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,31}</string>
                <key>spriteSourceSize</key>
                <string>{52,31}</string>
                <key>textureRect</key>
                <string>{{51,1},{52,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,38}</string>
                <key>spriteSourceSize</key>
                <string>{58,38}</string>
                <key>textureRect</key>
                <string>{{1,53},{58,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{61,34},{48,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down.png</string>
            <key>size</key>
            <string>{104,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2807d66c05196498b7369743fa67e9d7:c3213f21dc30f933c81cda38f7b37b31:1f82f659e2591d395bca4b2a7c74dd8a$</string>
            <key>textureFileName</key>
            <string>down.png</string>
        </dict>
    </dict>
</plist>
