<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spiderup1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,41}</string>
                <key>textureRect</key>
                <string>{{59,1},{55,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderup2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,42}</string>
                <key>spriteSourceSize</key>
                <string>{56,42}</string>
                <key>textureRect</key>
                <string>{{1,1},{56,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderup3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,41}</string>
                <key>textureRect</key>
                <string>{{59,44},{55,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderup4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,41}</string>
                <key>textureRect</key>
                <string>{{1,45},{55,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spiderup.png</string>
            <key>size</key>
            <string>{115,87}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d79f0a007f1b73c417a1f60f2a78b2c8:463cc73bcf984511b4fb497c443c5aba:6e513e1246de0599c3f07d40c1826c22$</string>
            <key>textureFileName</key>
            <string>spiderup.png</string>
        </dict>
    </dict>
</plist>
