<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>treeup1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,63}</string>
                <key>spriteSourceSize</key>
                <string>{50,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{50,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treeup2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{48,63}</string>
                <key>spriteSourceSize</key>
                <string>{50,65}</string>
                <key>textureRect</key>
                <string>{{1,131},{48,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treeup3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,61}</string>
                <key>spriteSourceSize</key>
                <string>{50,65}</string>
                <key>textureRect</key>
                <string>{{1,261},{46,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treeup4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,63}</string>
                <key>spriteSourceSize</key>
                <string>{50,65}</string>
                <key>textureRect</key>
                <string>{{1,196},{46,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treeup5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,63}</string>
                <key>spriteSourceSize</key>
                <string>{50,65}</string>
                <key>textureRect</key>
                <string>{{1,66},{50,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>treeup.png</string>
            <key>size</key>
            <string>{52,323}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0504e88cc44745e661998963aa47bd99:7c6c93221ef4d036bc996d612f94fcf7:4c73fe9c7193d985c6f64cea61f310a7$</string>
            <key>textureFileName</key>
            <string>treeup.png</string>
        </dict>
    </dict>
</plist>
